.header__lang {
    display: flex;
    margin-bottom: 10px;
}

.header__lang a {text-decoration: none;}

.lang__item {
    font-size: 24px;
    line-height: 23px;
    text-align: right;
}

.lang__item:not(:last-child) {margin-right: 18px;}

.lang__item:hover, .lang__item:active {text-decoration: underline;}

@media (max-width: 767px) {
.lang__item {font-size: 18px;}
}