@import url(__menu/header__menu.css);

.header {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1279px) {
    .header{
        max-width: 928px;
    }
}

@media (max-width: 1024px) {
    .header {
       max-width: 720px;
    }
}

@media (max-width: 767px) {
    .header {
        max-width: 343px;
    }
}

@media (max-width: 374px) {
    .header {
        max-width: 288px;
    }
}
